<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tencentmap.tencentmapdemo">

    <!-- 腾讯地图 sdk 要求的权限(开始) -->
    <!-- 访问网络获取地图服务 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检查网络可用性 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 需要外部存储写权限用于保存地图缓存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取 device id 辨别设备 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取日志读取权限，帮助我们提高地图 sdk 稳定性 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 腾讯地图 sdk 要求的权限(结束) -->


    <!-- 腾讯定位 sdk 要求的权限  (开始) -->
    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络. 某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态. 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态. 发起WiFi扫描, 需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态, 检测网络的可用性. 需要网络运营商相关信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化, 需要某些信息用于网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态, 需要device id用于网络定位 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 腾讯定位 sdk 要求的权限 (结束) -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!-- 如果您key确认无误，却依然授权没有通过，请检查您的key的白名单配置 -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="${TencentMapSDK_KEY}" />
        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basic.MapViewActivity" />
        <activity android:name=".basic.SupportMapFragmentActivity" />
        <activity android:name=".heatoverlay.DrawHeatOverlayActivity" />
        <activity android:name=".basic.TrafficMapActivity" />
        <activity android:name=".location.LocationLayerActivity" />
        <activity android:name=".basic.UiSettingsActivity" />
        <activity android:name=".marker.MarkerActivity" />
        <activity android:name=".marker.MarkerDragActivity" />
        <activity android:name=".marker.MarkerClickActivity" />
        <activity android:name=".marker.MarkerInfoWindowActivity" />
        <activity android:name=".gesture.MapListenActivity" />
        <activity android:name=".camera.MapCameraCenterActivity" />
        <activity android:name=".gesture.MapLongClickActivity" />
        <activity android:name=".polyline.DrawLineActivity" />
        <activity android:name=".polygon.DrawPolygonActivity" />
        <activity android:name=".circle.DrawCircleActivity" />
        <activity android:name=".marker.MarkerClusterActivity" />
        <activity android:name=".transaction.MoveCameraActivity" />
        <activity android:name=".transaction.AnimateCameraActivity" />
        <activity android:name=".transaction.ZoomCalulateActivity" />
        <activity android:name=".transaction.ZoomMapActivity" />
        <activity android:name=".transaction.RotateMapActivity" />
        <activity android:name=".transaction.ScollMapActivity" />
        <activity android:name=".marker.MarkerAnimation"></activity>
        <activity android:name=".basic.SetMapTypeActivity"></activity>
        <activity android:name=".basic.HandDrawActivity"></activity>
        <activity android:name=".basic.OverseaMapActivity"></activity>
        <activity android:name=".basic.IndoorMapActivity"></activity>
        <activity android:name=".basic.SetMapStyleActivity"></activity>
        <activity android:name=".location.LocationPointActivity"></activity>
        <activity android:name=".poi.PoiClickActivity"></activity>
        <activity android:name=".gesture.GestureSettingsActivity"></activity>

        <activity android:name=".camera.MapBoundActivity"></activity>
        <activity android:name=".camera.MapAnchorZoomActivity"></activity>

        <activity android:name=".search.WalkingRouteActivity"></activity>
        <activity android:name=".search.DrivingRouteActivity"></activity>
        <activity android:name=".search.SearchBasicActivity"></activity>
        <activity android:name=".search.GeoCoderActivity"></activity>
        <activity android:name=".search.DistrictActivity"></activity>

        <activity android:name=".polyline.LineTextActivity"></activity>

        <activity android:name=".utils.CoordinateActivity"></activity>
        <activity android:name=".utils.BitMapActivity"></activity>
        <activity android:name=".utils.SnapshotActivity"></activity>
    </application>

</manifest>